{% load i18n %}
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">{% trans 'Delete' %} {{object}}</h3>
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
    </div>
    <div class="modal-body">
        <p>{% trans 'Are you sure you want to delete this ?' %} {{object}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
        <form action="{{object.get_delete_url}}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
        </form>
    </div>
</div>