{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    {% comment %} {% include 'dashboard/snippets/_import_button.html' %}
                    {% include 'dashboard/snippets/_export_button.html' with modal_id="bills"  %} {% endcomment %}
                    <a href="{% url 'core:create_bill' %}" class="btn btn-sm fw-bold btn-primary">{% trans 'Add Bill' %} </a>
                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-xxl">
                <div class="card card-flush">
                    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                        <form  
                        hx-get="{{request.path}}"  
                        hx-target="#billsTable" 
                        hx-swap="innerHTML" 
                        hx-trigger="keyup delay:900ms"
                        hx-push-url='true'
                    >
                        <div class="card-title">
                            <div class="d-flex align-items-center position-relative my-1">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <input type="text" name="query"  data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Order" />
                            </div>
                        </div>
                    </form>
                    
                    </div>
                    <div id="billsTable" class="card-body pt-0">
                        {% include 'snippets/bill_block.html' %}
                    </div>
                </div>
               
            </div>
        </div>
    </div>
{% endblock content %}
    

{% block modal %}
    {% comment %} {% url 'bill:export_bills' bill_type=bill_type as export_bills_url %} {% endcomment %}
    {% comment %} {% url 'bill:export_bills' as import_products_url %} {% endcomment %}
    {% comment %} {% include "dashboard/popups/export_modal.html" with export_url=export_bills_url object=page_title modal_id="bills"  %} {% endcomment %}
    {% comment %} {% include "dashboard/popups/import_modal.html" with import_url=import_products_url %} {% endcomment %}
{% endblock modal %}

